.love-card {
    width: 90%;
    max-width: 850px;
    margin: 40px auto;
    background: #fff;
    border-radius: 30px;
    padding: 35px;
    box-shadow: 0 10px 30px rgba(255, 105, 180, .25);
    text-align: center;
}

.love-card h2 {
    color: #ff3b8d;
    font-size: 35px;
    margin-bottom: 20px;
}

.love-card p {
    font-size: 20px;
    color: #555;
    line-height: 2;
}